body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.header_main {
  height: 69px;
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 10;
  background-color: black;
  border-bottom: 1px solid seashell;
  justify-content: space-between;
  align-items: center;
}

.logo img{
  height: 50px;
  padding-left: 10px;
}

nav {
  margin-right: 10px;
}

nav span a {
  color: seashell;
  padding: 10px;
}

.content {
  display: flex;
  flex-flow: column;
  align-items: center;
  }

.key-visual {
  height: 700px;
  width: 1200px;
  background-image: url("../Images/key_visual.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}

.key-visual .headline {
  background-color: black;
  width: 1200px;
}

.tea-of-the-month {
  width: 1000px;
  margin: 60px 0px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-content {
  display: flex;
  flex-flow: column wrap;
  padding: 0 15px;
  margin: 0;
}

.image-content img {
  width: 300px;
  height: 200px;
  padding-top: 10px;
}

figcaption {
  padding: 30px;
  font-weight: bolder;
}

.locations {
  height: 500px;
  width: 1200px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-image: url("../Images/locations-bckg.jpg");
  background-size: cover;
}

.locations header h2 {
  margin: 0;
  padding: 0;
}

.boxes {
  width: 1200px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.box-left, .box-center, .box-right {
  background-color: black;
  opacity: 1;
  height: 300px;
  width: 300px;
  margin: 15px 20px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.boxes h3 {
  margin: 0;
}

.contact {
  height: 200px;
}

footer {
  width: 100%;
  text-align: left;
  margin-left: 20px;
}
